body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.overlay-forma {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.overlay-forma>form {
    display: flex;
    flex-direction: column;
}

form>button {
    margin-bottom: 0px;
    margin-top: 10px;
}

div#Aplikacija {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    justify-content: center;
}

div#Aplikacija>h1,
div#Aplikacija>div#unos {
    align-self: center;
}

div#zadaci>p {
    margin-bottom: 1px;
    align-self: center;
}

ul {
    list-style-type: none;
    margin-top: 1px;
    align-self: flex-start;
}

div#zadaci {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#zaglavlje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

div#zaglavlje>button {
    justify-self: center;
}
